<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js" type="text/javascript"></script>
</head>
<body>
<div id="app" style="display: flex">
    <div style="flex: 1">
        <h1>学生表</h1>
        <table border="1" style="text-align: center">
            <thead>
            <tr>
                <th style="width: 50px;">编号</th>
                <th style="width: 50px;">ID</th>
                <th style="width: 100px;">姓名</th>
                <th style="width: 50px;">性别</th>
                <th style="width: 50px;">年龄</th>
                <th style="width: 180px;">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="msg,index:${AllStudents}">
                <td th:text="${index.index}+1"></td>
                <td th:text="${msg.getId()}"></td>
                <td th:text="${msg.getName()}"></td>
                <td th:text="${msg.getSex()}"></td>
                <td th:text="${msg.getAge()}"></td>
                <td>
                    <button th:id="'btn1-' + ${index}"
                            th:attr="data-id=${msg.getId()}, data-name=${msg.getName()}, data-sex=${msg.getSex()}, data-age=${msg.getAge()}"
                            onclick="changeStuInfo(this)">修改
                    </button>&nbsp;&nbsp;&nbsp;
                    <button th:id="'btn2-' + ${index}"
                            th:attr="data-id=${msg.getId()}"
                            onclick="deleteStu(this.getAttribute('data-id'))">删除
                    </button>
                    <button th:id="'btn3-' + ${index}"
                            th:attr="data-id=${msg.getId()},data-name=${msg.getName()}"
                            onclick="getStuID(this.getAttribute('data-id'),this.getAttribute('data-name'))">编辑成绩
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <h1>修改信息</h1>
        <form th:action="@{/changeStuInfo}" method="post">
            <p>ID: <input id="stuID" type="text" name="id" readonly> &nbsp;&nbsp;&nbsp;
            <p>Name: <input id="stuName" name="name" type="text">
            <p>sex: <input id="stuSex" name="sex" type="text"> &nbsp;&nbsp;&nbsp;
            <p>age: <input id="stuAge" name="age" type="text"><br>
                <input type="submit" value="提交修改">
        </form>
        <h1>添加学生</h1>
        <div>
            <form th:action="@{/addStuInfo}" method="post" style="display: flex">
                <div style="flex: 1;">
                    Name: <input id="stuNameAdd" name="name" type="text"><br>
                    Sex: <input id="stuSexAdd" name="sex" type="text"><br>
                    Age: <input id="stuAgeAdd" name="age" type="text"><br>
                    <input type="submit" value="添加学生">
                </div>
                <div style="flex: 2;">
                    成绩： <select style="width: 80px" name="cid">
                    <option th:each="msg:${allCourse}"
                            th:text="${msg.getTitle()}" th:value="${msg.getId()}"></option>
                </select>
                    分数：<input id="addStuCourse" name="score" type="text"><br>
                </div>
            </form>
        </div>
    </div>
    <div style="flex: 1">
        <h1>编辑成绩</h1>
        <p>ID: <span id="editID"></span>&nbsp;&nbsp;Name:<span id="editName"></span></p>
        <select v-if="allCourse.length>1" v-model="selOne" style="width: 50px" v-on:change="getSelScore(selOne)">
            <option v-for="(item,index) in allCourse" :key="index" :label="item.title"
                    :value="item"></option>
        </select>
        <span>请输入分数: <input type="number" style="width: 100px" v-model="selScore"></span>
        <button @click="submitScore" style="width: 50px">提交</button>
    </div>
</div>
</body>


<script th:inline="javascript">

    function changeStuInfo(msg) {
        var studentId = msg.getAttribute('data-id');
        var studentName = msg.getAttribute('data-name');
        var studentSex = msg.getAttribute('data-sex');
        var studentAge = msg.getAttribute('data-age');
        document.getElementById("stuID").value = studentId
        document.getElementById("stuName").value = studentName
        document.getElementById("stuSex").value = studentSex
        document.getElementById("stuAge").value = studentAge
    }

    //删除
    function deleteStu(id) {
        if (confirm("确定要删除ID:" + id + "吗？")) {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/deleteStu?id=" + id, true);
            xhr.send();
            setTimeout(function () {
                location.reload();
            }, 1600);
        }
    }

    function getStuID(id, name) {
        document.getElementById("editID").innerText = id
        document.getElementById("editName").innerText = name
        getScore(id)
    }

    //获取成绩


    var app = new Vue({
        el: '#app',
        data: {
            stuData: '',
            selOne: '',
            allCourse: '',
            selScore: '',
            method: 'insert',
        },
        mounted() {
            // 将Vue方法传到全局对象window中
            window.getScore = this.getScore
            this.getAchievementScore()
        },
        methods: {
            getScore(id) {
                const data = {"sid": id};
                axios({
                    method: 'post',
                    url: '/getStuScore',
                    header: {
                        'Content-Type': 'application/json'
                    },
                    data: data,
                }).then(response => {
                    this.stuData = response.data;
                    this.getSelScore(this.selOne)
                });

            },
            getSelScore(item) {
                if (this.stuData[0].course !== null && this.selOne.title !== null) {
                    let res = false
                    for (let i = 0; i < this.stuData.length; i++) {
                        if (item.title === this.stuData[i].course.title) {
                            this.selScore = this.stuData[i].achievement.score
                            res = true
                        }
                    }
                    if (res) {
                        this.method = 'update'
                    } else {
                        this.method = 'insert'
                        this.selScore = 0
                    }
                } else {
                    this.selScore = 0
                    this.method = 'insert'
                }

            },
            getAchievementScore() {
                axios({
                    method: 'post',
                    url: '/getAllCourse',
                }).then(response => {
                    this.allCourse = response.data;
                });
            },
            submitScore() {
                const data = {
                    "method": this.method, "id": this.stuData[0].student.id,
                    "course": this.selOne.id, "score": this.selScore
                }
                axios.post("/UpdateStuScore", data).then(location.reload()
                )
            }
        }
    })


</script>

</html>
